* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Consolas";
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #021d45;
}
.container {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
header {
  --text: #fff;
  --text-inverse: #ff3e55;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 10000;
  padding: 0 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  margin: auto;
  color: var(--text);
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header nav {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav li {
  flex: 0 0 auto;
  list-style: none;
  margin-left: 1rem;
}
header nav li a {
  text-decoration: none;
  padding: 6px, 15px;
  color: var(--text);
  border-radius: 20px;
  transition: color 0.5s ease-out;
}
header nav li a:hover,
header nav li a.active {
  color: #ff3e55;
  transition: color 0.5s ease-out;
}
header nav li a.active {
  color: #217aff;
  transition: color 0.5s ease-out;
}
header nav li a.active:hover {
  color: #ff3e55;
  transition: color 0.5s ease-out;
}
header nav li svg {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  fill: #ff3e55;
  position: relative;
  top: 2px;
  transition: fill 0.5s ease-out;
}
header nav li svg:hover {
  fill: #fff;
  transition: fill 0.5s ease-out;
}
section {
  scroll-snap-align: start;
}
.nav-scrolled {
  --text: #021d45;
}
.uc {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 200px 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#text {
  position: absolute;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}
.work {
  height: 100vh;
  position: relative;
  padding: 100px 20vw;
  background: #fff;
}
.work h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #021d45;
}
.work p {
  font-size: 1em;
  color: #021d45;
}
.about {
  position: relative;
  padding: 100px 20vw;
  color: #fff;
  height: 100vh;
}
.about h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}
.about p {
  font-size: 1em;
  color: #fff;
}
.wave {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.wave svg {
  position: relative;
  display: block;
  width: calc(104% + 1.3px);
  height: 101px;
  transform: rotateY(180deg);
}
.wave .shape-fill {
  fill: #ffffff;
}
