* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  scroll-behavior: smooth;
}
:root {
  --text: #fff;
  --text-inverse: #ff3e55;
}
::-webkit-scrollbar {
  width: 0;
}
@supports (scrollbar-color: red blue) {
  * {
    scrollbar-width: transparent;
  }
}
#scrollpath {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}
#progressbar {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to top, #fcb045, #d41e31, #491f8f);

  animation: animate 5s linear infinite;
}
@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #fcb045, #d41e31, #491f8f);
  filter: blur(10px);
}
#progressbar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #fcb045, #d41e31, #491f8f);
  filter: blur(30px);
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #021d45;
  overflow-x: hidden;
}
.container {
  width: 100%;
  height: 100%;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 1000;
  padding: 0 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: var(--text);
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header .logo2 {
  display: none;
}
header nav ul {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav li {
  flex: 0 0 auto;
  list-style: none;
  margin-left: 1rem;
  display: block;
}
header nav li a {
  text-decoration: none;
  padding: 6px, 15px;
  color: var(--text);
  border-radius: 20px;
  transition: color 0.5s ease-out;
}
header nav li a:hover {
  color: #ff3e55;
  transition: color 0.5s ease-out;
}
header nav li a.active {
  color: #217aff;
  transition: color 0.5s ease-out;
}
header nav li:hover a.active {
  color: #ff3e55;
  transition: color 0.5s ease-out;
}
header nav li svg {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  fill: #ff3e55;
  position: relative;
  top: 2px;
  transition: fill 0.5s ease-out;
}
header nav li svg:hover {
  fill: var(--text);
  transition: fill 0.5s ease-out;
}
.hamburger {
  display: none;
  position: relative;
  z-index: 1;
  user-select: none;
  border: none;
  appearance: none;
  background: none;
  cursor: pointer;
  margin-top: 6px;
}
.hamburger span {
  display: block;
  width: 4px;
  height: 4px;
  margin-bottom: 5px;
  background-color: var(--text);
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  header .logo {
    margin-left: -1vw;
  }
  .primary-navbar {
    top: 0;
    right: 0;
    position: absolute;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    align-items: flex-end;
    width: 60vw;
    height: 100vh;
    padding: 8rem 1rem 4rem;
    background: hsl(0 0% 100% / 0.1);
    transform: translateX(100%);
    overflow: hidden;
  }
  header nav ul li {
    display: block;
    margin: 0 0 2rem;
  }
  header nav ul li a {
    height: auto;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 2rem;
  }
  .socialscomplete {
    margin: 0 0 0 2rem;
  }
  header nav ul li svg {
    width: 3rem;
    height: 3rem;
    top: 0;
  }
  header .logo2 {
    display: block;
    color: var(--text);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  header .logo {
    display: none;
  }
}
.primary-navbar[data-visible="true"] {
  transform: translateX(0%);
  transition: 0.4s;
}
.hamburger[aria-expanded="true"] span {
  margin-right: -30px;
}
.hamburger[aria-expanded="true"] span:nth-child(1) {
  width: 33px;
  transform: translateY(0px) rotate(45deg);
  transition-delay: 0.125s;
  background: #ff3e55;
}
.hamburger[aria-expanded="true"] span:nth-child(2) {
  transform: translateX(40px);
  background: #ff3e55;
}
.hamburger[aria-expanded="true"] span:nth-child(3) {
  width: 33px;
  transform: translateY(5px) translateX(-2px) rotate(-45deg);
  transition-delay: 0.125s;
  background: #ff3e55;
}
section .main {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 200px 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.wave svg {
  position: relative;
  display: block;
  width: calc(104% + 1.3px);
  height: 101px;
  transform: rotateY(180deg);
}
.wave .shape-fill {
  fill: #f4f4f4;
}
section .work {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background: #f4f4f4;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
section .work .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
section .work .card:hover {
  background-image: linear-gradient(135deg, #d41e31, #491f8f);
}
section .work .card .cardcontent {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}
section .work .card:hover .cardcontent {
  transform: translateY(0px);
  opacity: 1;
}
section .work .card .cardcontent h2 {
  position: absolute;
  top: -40px;
  right: 20px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
section .work .card .cardcontent h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}
section .work .card .cardcontent p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}
section .work .card .cardcontent a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #021d45;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
section .about {
  position: relative;
  padding: 100px 20vw;
  color: #fff;
  height: 100%;
  min-height: 100vh;
}
section .about .dynamictext {
  margin-bottom: 20px;
  line-height: 70px;
  height: 70px;
  overflow: hidden;
}
.dynamictext li {
  color: #fff;
  list-style: none;
  font-size: 3.5vw;
  position: relative;
  top: 0;
  animation: slide 9s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -280px;
  }
}
.dynamictext li span {
  position: relative;
}
.dynamictext li span::after {
  content: "";
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #021d45;
  border-left: 2px solid #fff;
  animation: typing 2.25s steps(31) infinite;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -1em 0 1em;
  }
}
section .about p {
  font-size: 4vmin;
  color: #fff;
}
section .contact {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 200px 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .contact .contactcard {
  position: relative;
  width: 100%;
  min-width: 280px;
  max-width: 1100px;
  margin: 20px;
  height: 600px;
  background: #fff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .contact .contactcard i {
  position: absolute;
  top: 40px;
  left: -15px;
  width: 95%;
  max-width: 350px;
  height: 50px;
  background: #ff3e55;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
section .contact .contactcard i::before {
  content: "";
  position: absolute;
  top: 50px;
  width: 15px;
  height: 30px;
  background: #d43346;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 2;
}
section .contact .contactcard i::after {
  content: "";
  position: absolute;
  top: 50px;
  width: 15px;
  height: 15px;
  background: #ff3e55;
}
section .contact .contactcard i h2 {
  position: absolute;
  color: #fff;
  font-size: 2em;
  z-index: 1;
  padding: 0 0 0 25px;
}
section .contact .contactcard form {
  position: relative;
  width: 90%;
  padding: 0 0 0 6vw;
}
section .contact .contactcard form .inputBox {
  position: relative;
  margin-bottom: 40px;
}
section .contact .contactcard form .inputBox:last-child {
  margin-bottom: 0px;
}
section .contact .contactcard form .inputBox input,
section .contact .contactcard form .inputBox textarea {
  position: relative;
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  color: #021d45;
  padding-bottom: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  border-bottom: 2px solid #021d45;
  resize: none;
}
section .contact .contactcard form .inputBox textarea {
  height: 100px;
}
section .contact .contactcard form .inputBox button {
  background: #021d45;
  padding: 8px 14px;
  margin-top: -10px;
  width: 100px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  border: none;
  border-radius: 30px;
  letter-spacing: 4px;
}
section .contact .contactcard form .inputBox button:focus {
  background: #ff3e55;
  color: #021d45;
}
section .contact .contactcard form .inputBox span {
  position: absolute;
  left: 0;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  pointer-events: none;
  letter-spacing: 1px;
  color: #021d45;
  transition: all 0.2s;
}
section .contact .contactcard form .inputBox input:focus ~ span,
section .contact .contactcard form .inputBox textarea:focus ~ span,
section .contact .contactcard form .inputBox input:valid ~ span,
section .contact .contactcard form .inputBox textarea:valid ~ span {
  transform: translateY(-24px);
  color: #ff3e55;
  font-size: 14px;
}
section .contact .contactcard form .inputBox input:focus,
section .contact .contactcard form .inputBox textarea:focus,
section .contact .contactcard form .inputBox input:valid,
section .contact .contactcard form .inputBox textarea:valid {
  border-bottom-color: #217aff;
}
section .contact .contactcard p {
  position: absolute;
  z-index: 1;
  color: #ff3e55;
  font-size: 2em;
  bottom: 10px;
  left: 15px;
}
